/*
.camera-icon{
    -fx-opacity: 0;
}

.camera-icon:hover, .gif:hover{
    -fx-opacity: 1;
}
*/

.root {
    -fx-base: #555555;
    -fx-background: #555555;
    -fx-control-inner-background: #646464;
}

.global {
    -fx-background-color: #5f5f5f;
}

#toolbar{
	
}

#topBarWrapper{
  
}