/*
.camera-icon{
    -fx-opacity: 0;
}

.camera-icon:hover, .gif:hover{
    -fx-opacity: 1;
}
*/

.root {
    -fx-base: #414141;
    -fx-background: #414141;
    -fx-control-inner-background: #646464;
}

.global {
    -fx-background-color: #414141;
}

#topBarWrapper{
    -fx-padding: 1em 0;
    -fx-pref-height: 120;
}