body{
  background-color: whitesmoke  ;
}

html, body{  max-width: 100%;
}

.data-wrapper{
  border-bottom: 1px gray solid;
}

.step{
  max-height: 15em;
  padding-bottom: 1em;
}

.step .number{
  background-color: white;
  font-size: xx-large;
  display: inline-block;
  width: 1.1em;
  height: 1.1em;
  text-align: center;
  border-radius: 1em;
  position: absolute;
  margin: 0em;
  box-shadow: 0 0 0.1em gray;
  z-index: 1;
}

.step .gif-wrapper{
  margin-left: 0.7em;
  width: 15em;
  height: 15em;
  line-height: 15em;
  border-bottom: 1px gray solid;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  transition: 0.4s all;
}

.step .gif-wrapper .gif {
  max-width: 15em;
  max-height: 15em;
  box-shadow: 0 0 0.5em grey;
  display: inline-block;
  vertical-align: middle;
}

.step .gif-wrapper:hover .gif, .step .gif-wrapper .gif:hover{
  /*transform: scale(3);
  position: absolute;
  transition: all 0.4s;
  z-index: 2;
  */
  position: absolute;
  margin-left: 10vh;
  z-index: 2;
  transform: translate(50%,-50%) scale(3);
  -webkit-transform: translate(50%,-50%) scale(3);
  transition: 0.4s all;
}

.step .description-wrapper{
  display: table-cell;
  max-height: 15em;
  overflow-y: scroll;
  overflow-x: hidden;
  word-wrap: break-word;
  width: 75%;
}

.step .description-wrapper .description{
  text-align: justify;
  padding: 0 0 0 1em;
}

.hidden{
  display:none;
}

